<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @content_content_document.document_id %>
</p>

<%= link_to 'Edit', edit_content_content_document_path(@content_content_document) %> |
<%= link_to 'Back', content_content_documents_path %>
