<h2>Avenue: <emphasis><code><%= avenue.url %></code></emphasis></h2>

<article class="delegate" id="avenue-<%= avenue.id %>-show"
        data-delegate-url="<%= network_avenue_url avenue %>"
        data-delegate-params="type=snippet">
</article>