<h2>Avenue: <a href="<%= network_avenue_path @avenue %>"><strong><code><%= @avenue.url %></code></strong></a></h2>

<article class="delegate" id="avenue-<%= @avenue.id %>-show"
        data-delegate-url="<%= network_avenue_path @avenue %>"
        data-delegate-params="type=snippet"
        data-delegate-fetched="false">
</article>