<p id="notice"><%= notice %></p>

<p>
  <strong>Headers string:</strong>
  <%= @network_header_set.headers_string %>
</p>

<%= link_to 'Edit', edit_network_header_set_path(@network_header_set) %> |
<%= link_to 'Back', network_header_sets_path %>
