<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_path.name %>
</p>

<%= link_to 'Edit', edit_network_path_path(@network_path) %> |
<%= link_to 'Back', network_paths_path %>
