// Place all the styles related to the scraper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.delegate {
    box-shadow: inset 0 0 2em #333;
    border: 2px solid black;
}

h2 strong {
    font-style: italic;
}

/*
strong {
    font-weight: bold;
}
*/