<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_domain.name %>
</p>

<%= link_to 'Edit', edit_network_domain_path(@network_domain) %> |
<%= link_to 'Back', network_domains_path %>
